body {
  background-color: #1b417c;
  color: #fff;
}

.nav-item {
  width: 0px;
}

table {
  text-align: center;
}

table tbody tr td {
  text-align: center;
}
button {
  margin-right: 100px;
  margin-top: 50px;
}
/* .showdata{
  margin: 0;
  justify-content: center;
  align-items: center;
} */

.card {
  background-color: #fff;
  max-width: 500px;
  max-height: 250px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.card--content {
  background-color: #e74c3c;
  max-width: 80px;
  margin: 5px;
  border: 3px solid black;
}

/* .card::-webkit-scrollbar {
    display: none;
  } */

/* Burger Menu */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
